{{ with .Values.core }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "core.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "name" $ }}
    app.kubernetes.io/managed-by: {{ $.Release.Service }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
    helm.sh/chart: {{ $.Chart.Name }}-{{ $.Chart.Version | replace "+" "_" }}
    run: {{ include "core.fullname" . }}
spec:
  type: ClusterIP
  ports:
  - port: 5353
    targetPort: data
    protocol: TCP
    name: data
  - port: 3300
    targetPort: http-config
    protocol: TCP
    name: http-config
  - port: 443
    targetPort: https
    protocol: TCP
    name: https
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: {{ include "core.fullname" . }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "core.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "name" $ }}
    app.kubernetes.io/managed-by: {{ $.Release.Service }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
    helm.sh/chart: {{ $.Chart.Name }}-{{ $.Chart.Version | replace "+" "_" }}
    app: {{ include "core.fullname" . }}
spec:
  replicas: {{ .replicas }}
  selector:
    matchLabels:
      app: {{ include "core.fullname" . }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "name" $ }}
        app.kubernetes.io/managed-by: {{ $.Release.Service }}
        app.kubernetes.io/instance: {{ $.Release.Name }}
        helm.sh/chart: {{ $.Chart.Name }}-{{ $.Chart.Version | replace "+" "_" }}
        app: {{ include "core.fullname" . }}
    spec:
      containers:
      - name: core
        image: {{ .image.name }}:{{ .image.tag }}
        imagePullPolicy: {{ .image.pullPolicy }}
        env:
        - name: CONTAINER_NAME
          value: "core"
        - name: CONFIG_PORT
          value: "3300"
        ports:
        - name: data
          containerPort: 5353
          protocol: TCP
        - name: http-config
          containerPort: 3000
          protocol: TCP
        - name: https
          containerPort: 443
          protocol: TCP
        - name: http
          containerPort: 80
          protocol: TCP
        - name: service
          containerPort: 9090
          protocol: TCP
        command:
          - "/script/entry.sh"
        livenessProbe:
          exec:
            command:
            - supd
            - health
          initialDelaySeconds: {{ .livenessProbe.initialDelaySeconds }}
          failureThreshold: {{ .livenessProbe.failureThreshold }}
          periodSeconds: {{ .livenessProbe.periodSeconds }}
        resources:
{{ toYaml .resources | indent 10 }}
        volumeMounts:
        - mountPath: /ns1/data
          name: ns1-data
        - name: core-entrypoint
          mountPath: /script/entry.sh
          subPath: entry.sh
      enableServiceLinks: false
      volumes:
      - name: ns1-data
        emptyDir: {}
      - name: core-entrypoint
        configMap:
          name: {{ include "core.fullname" . }}-entrypoint
          defaultMode: 0777
      imagePullSecrets:
      - name: {{ $.Values.imagePullSecret }}
    {{- with .nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "core.fullname" . }}-entrypoint
  labels:
    app.kubernetes.io/name: {{ include "name" $ }}
    app.kubernetes.io/managed-by: {{ $.Release.Service }}
    app.kubernetes.io/instance: {{ $.Release.Name }}
    helm.sh/chart: {{ $.Chart.Name }}-{{ $.Chart.Version | replace "+" "_" }}
data:
  entry.sh: |
    #! /bin/sh
    /usr/local/bin/entrypoint \
        {{- range $flag := .startupFlags }}
        {{ $flag }} \
        {{- end }}
        --pop_id={{ .popID }} \
        --server_id=$HOSTNAME \
        --data_host=
        {{- range $i := until (int $.Values.data.replicas) -}}
          {{- include "data.fullname" $.Values.data }}-{{ $i }}.{{ include "data.fullname" $.Values.data }}-headless,
        {{- end }} \
        --api_hostname={{ .apiHostname }} \
        --portal_hostname={{ .portalHostname }} \
        --nameservers={{ .nameServers }} \
        --hostmaster_email={{ .hostMasterEmail }} \
        --enable_ops_metrics={{ .enableOpsMetrics }} \
        --web_enable_tls={{ .enableWebTLS }}
---
{{ end }}
