---
version: '3.4'
services:
  data:
    image: ns1inc/privatedns_data:${TAG:-2.5.4}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    environment:        # keep environment lines if 2+ containers
      CONFIG_PORT: 3305 # are on the host machine
      CONTAINER_NAME: ${DATA_CONTAINER_NAME:-data}
      # IMPORTANT!  DATA_PRIMARY should only be enabled on a single data host.
      # Comment out the following on additional data peers.
      DATA_PRIMARY: "true"
    stop_grace_period: 30s
    ulimits:
      nproc: 65535
      nofile:
        soft: 20000
        hard: 40000
    ports:
      - "3305:3300" # http configuration
      - "8686:8686" # metrics export
      - "5454:5353" # replication
    sysctls:
      net.ipv6.conf.lo.disable_ipv6: 0 # enable ipv6 for loopback
    healthcheck:
      test: supd health
      interval: 15s
      timeout: 10s
      retries: 3
      start_period: 120s
    volumes:
      - type: volume
        source: ns1data
        target: /ns1/data
        volume:
          nocopy: true
    # If running multiple data peers, add the following line to
    # the command section below.  All other data hosts 
    # (*excluding this one*) must be listed.
    #--data_peers          ${DATA_PEERS}
    #
    # You can optionally have the data containers automatically
    # elect and maintan a master peer by uncommenting the following and
    # adjusting values as appropriate.  Cluster size should be 3 or 5.
    # The value of DATA_PRIMARY is ignored if this feature is enabled
    #--cluster_mode        clustering_on
    #--cluster_id          1
    #--cluster_size        3
    #--synch_replication_enabled true
    command: >-
      --pop_id               ${POP_ID:-mypop}
      --server_id            ${SERVER_ID:-myserver}
      --expose_ops_metrics   true
  core:
    image: ns1inc/privatedns_core:${TAG:-2.5.4}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    environment:        # keep environment lines if 2+ containers
      CONFIG_PORT: 3302 # are on the host machine
      CONTAINER_NAME: ${CORE_CONTAINER_NAME:-core}
      BOOTSTRAPPABLE: "true" # include to start a helper webserver that bootstraps the deployment for ease of use
    restart: unless-stopped
    ports:
      - "5353:5353"     # data transport
      - "3302:3300"     # http configuration
      - "443:443"       # https connections to portal or api
      - "80:80"         # http connections to portal or api
    healthcheck:
      test: supd health
      interval: 15s
      timeout: 10s
      retries: 3
      start_period: 120s
    volumes:
      - type: volume
        source: ns1core
        target: /ns1/data
        volume:
          nocopy: true
    command: >-
      --pop_id             ${POP_ID:-mypop}
      --server_id          ${SERVER_ID:-myserver}
      --data_host          ${DATA_HOSTS:-data}
      --api_hostname       ${API_FQDN:-api.mycompany.net}
      --portal_hostname    ${PORTAL_FQDN:-portal.mycompany.net}
      --nameservers        ${NAMESERVERS:-ns1.mycompany.net}
      --hostmaster_email   ${HOSTMASTER_EMAIL:-hostmaster@mycompany.net}
      --enable_ops_metrics true
  xfr:
    image: ns1inc/privatedns_xfr:${TAG:-2.5.4}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    environment:        # keep environment lines if 2+ containers
      CONFIG_PORT: 3303 # are on the host machine
      CONTAINER_NAME: ${XFR_CONTAINER_NAME:-xfr}
    restart: unless-stopped
    ports:
      - "3303:3300"    # service proxy
      - "5400:53/udp"  # udp zone transfers
      - "5400:53/tcp"  # tcp zone transfers
    healthcheck:
      test: supd health
      interval: 15s
      timeout: 10s
      retries: 3
      start_period: 120s
    volumes:
      - type: volume
        source: ns1xfr
        target: /ns1/data
        volume:
          nocopy: true
    command: >-
      --pop_id              ${POP_ID:-mypop}
      --server_id           ${SERVER_ID:-myserver}
      --core_host           ${CORE_HOSTS:-core}
      --enable_ops_metrics  true
networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 172.18.11.0/24
volumes:
  ns1data:
  ns1core:
  ns1xfr:
