---
version: '3.4'
services:
  dns:
    hostname: ${POP_ID:-mypop}-${SERVER_ID:-myserver}-${DNS_CONTAINER_NAME:-dns}
    image: ns1inc/privatedns_dns:${TAG:-3.2.3}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    environment:        # keep environment lines if 2+ containers
      CONFIG_PORT: 3301 # are on the host machine
      CONTAINER_NAME: ${DNS_CONTAINER_NAME:-dns}
    restart: unless-stopped
    ports:
      - "3301:3300" # http configuration
      - "53:53/udp" # udp port for dns
      - "53:53/tcp" # tcp port for dns
    healthcheck:
      test: supd health
      interval: 15s
      timeout: 10s
      retries: 3
      start_period: 120s
    volumes:
      - type: volume
        source: ns1dns
        target: /ns1/data
        volume:
          nocopy: true
    command: >-
      --pop_id              ${POP_ID:-mypop}
      --server_id           ${SERVER_ID:-myserver}
      --core_host           ${DIST_HOSTS:-dist}
      --operation_mode      ${OPERATION_MODE:-authoritative}
      --num_trex_procs      4
  dhcp:
    hostname: ${POP_ID:-mypop}-${SERVER_ID:-myserver}-${DHCP_CONTAINER_NAME:-dhcp}
    image: ns1inc/privatedns_dhcp:${TAG:-3.2.3}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    environment:        # keep environment lines if 2+ containers
      CONFIG_PORT: 3300 # are on the host machine
      CONTAINER_NAME: ${DHCP_CONTAINER_NAME:-dhcp}
    privileged: true
    restart: unless-stopped
    ports:
      - "3300:3300" # http configuration
      - "67:67/udp" # udp port for dhcp
    # Uncomment below if this container will handle broadcast DHCP
    # Leave commented out if it will only handle clients via relay
    # network_mode: host
    healthcheck:
      test: supd health
      interval: 15s
      timeout: 10s
      retries: 3
      start_period: 120s
    volumes:
      - type: volume
        source: ns1dhcp
        target: /ns1/data
        volume:
          nocopy: true
    # The value of --core_host must be changed to 'localhost' if the dhcp
    # container network_mode is set to 'host'.  If you used the BOOTSTRAP UI
    # to perform initial configuration, the value of --service_def_id can
    # be left alone.  Otherwise, change it to match your DHCP service def ID.
    command: >-
      --pop_id              ${POP_ID:-mypop}
      --server_id           ${SERVER_ID:-myserver}
      --core_host           ${DIST_HOSTS:-dist}
      --service_def_id      2
  dist:
    hostname: ${POP_ID:-mypop}-${SERVER_ID:-myserver}-${DIST_CONTAINER_NAME:-dist}
    image: ns1inc/privatedns_dist:${TAG:-3.2.3}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    environment:
      CONFIG_PORT: 3304
      CONTAINER_NAME: ${DIST_CONTAINER_NAME:-dist}
    restart: unless-stopped
    stop_grace_period: 30s
    ports:
      - "3304:3300" # http configuration
    sysctls:
      net.ipv6.conf.lo.disable_ipv6: 0 # enable ipv6 for loopback
    healthcheck:
      test: supd health
      interval: 15s
      timeout: 10s
      retries: 3
      start_period: 120s
    volumes:
      - type: volume
        source: ns1dist
        target: /ns1/data
        volume:
          nocopy: true
    # The value of --core_host must  be set to the IP address of your
    # control node (i.e. the server that hosts the core container)
    command: >-
      --pop_id               ${POP_ID:-mypop}
      --server_id            ${SERVER_ID:-myserver}
      --core_host            ${CORE_HOSTS}
  monitor:
    hostname: ${POP_ID:-mypop}-${SERVER_ID:-myserver}-${MONITOR_CONTAINER_NAME:-monitor}
    image: ns1inc/privatedns_monitor:${TAG:-3.2.3}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    environment:
      CONFIG_PORT: 3308
      CONTAINER_NAME: ${MONITOR_CONTAINER_NAME:-monitor}
    restart: unless-stopped
    ports:
      - "3308:3300" # http configuration
    healthcheck:
      test: supd health
      interval: 15s
      timeout: 10s
      retries: 3
      start_period: 120s
    volumes:
      - type: volume
        source: ns1monitor
        target: /ns1/data
        volume:
          nocopy: true
    command: >-
      --pop_id                 ${POP_ID:-mypop}
      --server_id              ${SERVER_ID:-myserver}
      --core_host              ${DIST_HOSTS:-dist}
      --monitoring_region      lga
      --service_def_id         3
      --inst_id                1
      --use_privileged_ping    true
networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 172.18.11.0/24
volumes:
  ns1dns:
  ns1dist:
  ns1dhcp:
  ns1monitor:
